@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width: 100vw;
}

.react-flow__handle{
  border: none;
  opacity: 50%;
}

.dndflow .dndnode{
  cursor: grab;
  border-bottom: 1px solid #d9d9d9cb;
}
.sidebar{
  border: 1px solid #d9d9d9cb;
  box-shadow: 0 0 10px #d9d9d9cb;
}

